.content {
  padding: .5rem;
  background-color: #fff;
  margin: 0 auto;
  font-size: .75rem;
}

.detail {
  width: 90%;
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
}

.detail .left {
  margin-right: 10px;
}

.detail .left .topic_header {
  width: 100%;
  padding: .5rem;
}

.detail .left .topic_header .title {
  font-size: 22px;
  font-weight: 700;
  margin: 8px 0;
  display: inline-block;
  vertical-align: bottom;
  width: 75%;
  line-height: 130%;
}

.detail .left .topic_header .status {
  color: #838383;
  font-size: .6rem;
}

ul, ol {
  padding-left: 1rem;
}
