
.main {
    width: 70rem;
    display: flex;
    justify-content: space-around;
    margin: 1rem auto;
    border-radius: 0.5rem;
}


.left {
    width: 50rem;
    min-height: 10rem;
    background-color: #fff !important;
    border-radius: .5rem;
}