.hot {
  border-radius: .5rem;
  position: sticky;
  top: 2.5rem;
  width: 17.5rem;
  background: #fff;
}

.hot .title {
  padding: 1rem;
}

.hot ul {
  list-style: none;
  margin: 0;
  padding: 0 0 1rem 1rem;
}

.hot ul li {
  font-size: .8rem;
}
