.hot {
    .title {
        font-size: 14px;
        color: #333;
        line-height: 26px;
        margin: 0 0 0.5rem;
    }
}
.pannel {
    border-radius: 0.5rem;
    top: 2.5rem;
    width: 13.5rem;
    background: #fff;
    margin-bottom: 13px;
    overflow: hidden;
}
.header {
    padding: 10px;
    font-size: 13px;
    color: #333;
    background-color: #f6f6f6;
}
.pannel-body{
    padding: 10px;
    p{
        font-size: 14px;
        color: #778087;
        margin: 0;
        line-height: 30px;
    }
}
